<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href = "{{ url_for('static', filename='styles.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>

<body>
<div class="header">
 <button class="btn"><a class="fa fa-home" href="/catalog"></a></button>
<h2>THE CATALOG APP</h2>
</div>
<div class = "main">
<h2 style="color:blue"><i>ADD NEW ITEM</i></h2>
<br><br>
<form action="/catalog/new" method='POST'>
  Item name: <input type="text" name="itemname" >
  <br><br>
  <div>
  Category: <select name=Category>
  {% for i in categories %}
  <option>{{i.name}}</option>
  {% endfor %}
  </div>
  </select>
  <br><br>
  
  Item Description: <input type="text" name="description">
  <br><br>
  <div class="Atag">
  <input type="submit" value="Submit">
  </div>
</form> 
</div>
</body>
</html>
